
#home-content{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 5%;
    height: fit-content;
   
}


.logo-home{
    height: 400px;
    width: 600px;
}

.left-text{
    margin: 0 4%;
}
.image-right{
    margin-right: 5%;
}
.main-heading{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1%;
}
.start-button{
    margin-top: 4%;
    padding: 2% 5%;
    background-color: rgba(59, 10, 59, 0.614);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid white;
    transition: 0.2s ease-in;
}
.start-button:hover{
    background-color:  rgba(59, 2, 59, 0.984);
    cursor: pointer;
}

#wave{
    transform:rotate(180deg); transition: 0.3s
}

#wave path{
    transform:translate(0, 0px); opacity:1
}


/* ABOUTTT */



.about-section-main{
 margin: 15% 5%;
 align-items: center;
 text-align: center;
}
.about-section-main h1{
    margin-bottom: 4%;
    font-size: 2.5rem;
}
.about-section{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.about-card{
    align-items: center;
    text-align: center;
    background-color: rgba(100, 17, 100, 0.689);
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2%;
    width: 20%;
    transition: 0.5s ease;
}
.about-card:hover{
    transform: translateY(-25px);
    cursor: pointer;
    background-color: rgba(110, 21, 110, 0.886) ;
}

.about-card img{
    height:200px;
    width:200px;
}
.about-card-heading{
    font-size: 1rem;
    font-weight: bold;
    margin: 2% 0;
}
.about-card-p{
    font-size: 12px;
    color: rgb(203, 200, 200);
    padding-bottom: 4%;
    text-align: justify;
    
}
.submit-button{
    margin-top: 4%;
    padding: 2% 5%;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid white;
}

.submit-button:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.quiz-container{
    background-color: rgba(141, 105, 141, 0.269);
}

option{
    background-color: rgba(95, 15, 95, 0.614);
}